* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px red;
}

.sessao {
    min-width: 320px;
    border: solid 1px blue;
}

img {
    display: block;
    width: 100%;
}
