* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1072px;
    margin: auto; 
    border: solid 1px lightgray;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);   
}

.sessao {
    min-width: 320px;    
}

#sessao-logo {
    padding: 32px 0;
    background-color: #006400;
}

img {
    display: block;
    width: 90%;    
    margin: auto;
}

#sessao-formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    max-width: 640px;
    padding: 16px;
}

#form-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-input label {
    font-size: 11px;
    font-weight: bold;
    color: #000;
}

#topo {
    display: flex;
    justify-content: space-between;
}

h2 {
    padding: 16px 0;
}

#input-radios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 0;    
}

.label-radios {
    width: 160px;
}

.label-radios label {
    font-size: 11px;
    font-weight: bold;
    color: #000
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #006400;
    color: white;
}

button:hover {
    background-color: #087408;
    cursor: pointer;
}

.caixas-de-texto {
    padding: 8px;
    border: solid 1px lightgray;
    border-radius: 8px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}

.caixas-de-texto:focus {
    outline: 2px solid #5b7cc2;
}

.caixas-de-texto:hover {
    background-color:  #f5f5f5;
}

.caixas-de-texto::placeholder {
    color: #dcdcdc;
}

input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #006400;
    color: white;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #087408;
    cursor: pointer;
}